<!DOCTYPE html>
<html lang="pt-br">
<%- include('./parciais/head.ejs') %>
<body>
     <!--inclusão de parcial nav-->
      <%- include('./parciais/nav.ejs') %>

  <div class = "conteudo-sites">
    <h2>Resumo</h2>
    <% if (sites.length > 0) { %>
    <% sites.forEach(sites => { %>

      <h3 class="titulo"><%= sites.titulo %></h3>
      <p class="conteudo"><%= sites.conteudo %></p>
      

      <% }) %>
      <% } else { %>
        <p>A lista do site está vazia </p>
        <% } %>
  </div>
  <%- include('./parciais/footer.ejs') %>

</body>
</html>
